body, html {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 100vh; /* För att täcka hela skärmen vertikalt */
  overflow: hidden; /* Döljer överflödiga delar av bilden */
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)); Vit gradient som täcker överkanten av bilden och gradvis blir transparent nedåt */
  background: linear-gradient(to bottom, rgba(89, 82, 59, 1), rgba(89, 82, 59, 0)); /* Vit gradient som täcker överkanten av bilden och gradvis blir transparent nedåt */
  
  z-index: 1; /* Säkerställer att gradienten ligger ovanpå bilden */
}

.hero img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0; /* Placera bilden längst ned */
  left: 0;
  object-fit: cover; /* Skalar bilden för att täcka hela utrymmet utan att deformeras */
  z-index: 0; /* Säkerställer att bilden ligger bakom gradienten */
}
